.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modals {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.modals_containers {
    width: 1300px;
    height: 800px;
    position: relative;
    text-align: left;
    white-space: normal;
    background-color: #030303;
    color: #ffffff;
    border-radius: 40%/20%;
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modals_title {
    margin-top: 5px;
}

.social {
    margin-top: 15px;
}

.social_list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.img {
    width: 70px;
}

.delete {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 110px;
    height: 60px;
    background-color: black;
    border-radius: 50%/30%;
    position: relative;
    border: none;
    color: white;
    box-shadow: 0px 0px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        0px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

.delete:hover {
    box-shadow: inset 0px 5px 10px 0px rgba(255, 0, 0, 0.7);
}

.delete:active {
    box-shadow: inset 0px 5px 10px 0px rgba(171, 4, 4, 0.7);
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ BUTTON \\\\\\\\\\\\\\\\\\\\\\\\\\  */

.cl-btn-33 {
    top: 90px;
    right: 30px;
    width: 26px;
    height: 26px;
    margin: 40px auto;
    position: absolute;
    transform: rotate(45deg) scale(2);
}

.cl-btn-33 .top,
.cl-btn-33 .bot {
    display: block;
    background: #fe0000;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
}

.cl-btn-33 .top {
    height: 100%;
    width: 2px;
    margin-left: -1px;
    transform: skewY(45deg);
    top: 0;
}

.cl-btn-33 .bot {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    transform: skewX(-45deg);
    left: 0;
}

@-webkit-keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}

@keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}
@-webkit-keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}
@keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}
@-webkit-keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@-webkit-keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
@keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
.cl-btn-33:hover {
    cursor: pointer;
}
.cl-btn-33:hover .top {
    animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}
.cl-btn-33:hover .bot {
    animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}
