/* .box {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: black;
    color: white;
} */

.text {
    padding-top: 45px;
    /* color: white; */
}

.box {
    width: 200px;
    height: 160px;
    background-color: black;
    border-radius: 50%/30%;
    position: relative;
    color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

.box:before {
    content: "";
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    /* background: inherit; */
    border-radius: 5%/50%;
}

.box:hover {
    box-shadow: inset 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

.box:active {
    box-shadow: inset 0px 5px 10px 0px rgba(171, 4, 4, 0.7);
}

/* .d29 {
width: 100px; 
height: 80px;
background: #BDE2E0;
border-radius: 50%/10%;
position: relative;
}
.d29:before {
content: "";
position: absolute; 
top: 10%; 
bottom: 10%; 
right: -5%; 
left: -5%;
background: inherit;
border-radius: 5%/50%;
} */
